@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;700&display=swap');
body {
    height: 100vh;
    margin: 0;
    font-family: Orbitron, sans-serif;
    color: white;
}
*::before::after {
    box-sizing: border-box;
}
.container {
    background-color: #202c39;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header {
    width: 100%;
    background-color: #0F1A20;
}
.header-title {
    font-size: 72px;
    margin: 0;
    text-align: center;
}
.game-container {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: auto;
}
.choice-button img {
    width: 125px;
    height: auto;
    padding: 5px;
}
.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
}
.result-title {
    text-align: center;
    height: 25px;
}
.result {
    text-align: center;
    font-size: 48px;
    width: 475px;
    height: 150px;
}
.player-choice-buttons {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
}
.player-choice-buttons > button {
    width: 150px;
    height: 200px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
}
.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.score-container p {
    font-size: 24px;
}
.end-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}
.end-game-title {
    margin-bottom: 20px;
    margin-top: 0;
    height: 50px;
}
.end-game button {
    display: none;
    width: 160px;
    height: 70px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 18px;
    transition: ease-in-out 0.15s all;
}
.end-game button:hover {
    background-color: white;
    color: black;
    transition: ease-in-out 0.15s all;
}
.footer {
    width: 100%;
    background-color: #0f1a20;
}
.footer > p {
    text-align: center;
    font-family: sans-serif;
}